.menu {
    width: 100%;
    min-height: 100vh;
    background-color: $white;
    box-shadow: 
    16px 0 52px 0 rgba(14, 24, 80, 0.2),
    -2px 0 4px 0 rgba(14, 24, 80, 0.02);

    display: flex;
    flex-direction: column;

    @media (min-width: $pretablet) {
        width: 320px;
    }

    @media (min-width: $desktop) {
        box-shadow: none;
    }

    &__header {
        min-height: 74px;
        padding-left: 24px;
        padding-right: 24px;
        
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        align-content: end;
    }

    &__close {
        margin-right: 17px;
        @media (min-width: $desktop) {
            display: none;
        }
    }

    &__logo {
        flex-grow: 1;
    }

    &__main {
        padding-top: 40px;
        padding-bottom: 40px;
        flex-grow: 1;
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 23px;
    }

    &__link {
        padding: 4px 0 4px 24px;
        color: $black-text;
        font-weight: 600;
        line-height: 1.5;
        transition: color .2s linear;
        
        position: relative;
        display: block;

        &--active {
            color: rgba(27, 28, 33, 0.5);
            &::before {
                content: "";
                width: 4px;
                height: 100%;
                background-color: #41F6D7;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }

    &__footer {
        padding: 0 24px 24px 24px;
    }

    &__actions {
        margin-bottom: 16px;

        display: inline-flex;
        align-items: center;
        column-gap: 16px;
    }

    &__email {
        font-weight: 600;
        margin-bottom: 12px;
    }

    &__phone {
        font-size: 24px;
        letter-spacing: -0.6px;
        font-weight: 700;
        margin-bottom: 40px;
    }

    &__language {
        display: inline-flex;
        column-gap: 7px;
    }

    &__button {
        background: transparent;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        transition: color .2s linear;

        &--active {
            color: rgba(27, 28, 33, 0.5);
        }
    }
}