.tech {
    &__title {
        margin-bottom: 16px;

        @media (min-width: $tablet) {
            padding-left: 24px;
            margin-bottom: 24px;
        }
        @media (min-width: $desktop) {
            padding-left: 32px;
            width: calc(100% - 320px);
            margin: 0 0 24px auto;
        }
    }

    &__swiper {
        @media (min-width: $tablet) {
            margin-bottom: 24px;
        } 
    }

    &__list {
        margin-bottom: 42px;

        @media (min-width: $tablet) {
            max-height: 160px;
            margin-bottom: 0;
    
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(224px, auto));
            column-gap: 24px;
            row-gap: 16px;
        }
    }

    &__slide {
        box-sizing: border-box !important;

        height: 160px;
        padding: 16px;
        background-color: $white;
        border: 1px solid $grey;
        border-radius: 6px;
    
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__text {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
    
        align-self: flex-start;
    }

    &__link {
        align-self: flex-end;
    }
    
    &__button {
        display: none;

        @media (min-width: $tablet) {
            display: inline-block;
        }
    }
}