body {
    background-color: $lightgrey;
    color: $black-text;
    font-family: 'TTLakes';
    letter-spacing: -0.2px;
}

.page {
    min-height: 100vh;

    @media (min-width: $desktop ) {
        max-width: 1440px;
        margin: 0 auto;
    }

    &__menu {
        position: fixed;
        visibility: hidden;
        z-index: 100;
        pointer-events: none;

        transition: all .2s linear;
        transform: translateX(-120%);

        &.visible {
            transform: translateX(0);
            visibility: visible;
            pointer-events: all;
        }

        @media(min-width: $desktop) {
            transform: translateX(0);
            visibility: visible;
            pointer-events: all;
        }
    }

    &__header {
        margin-bottom: 24px;

        @media (min-width: $desktop) {
            display: none;
        }
    }

    &__main {
        margin-bottom: 24px;
        
        @media (min-width: $tablet) {
            margin-bottom: 32px;
        }
        @media (min-width: $desktop) {
            padding-top: 42px;
        }
    }

    &__feedback {
        visibility: hidden;
        pointer-events: none;

        position: fixed;
        top: 0;
        right: 0;
        z-index: 150;

        transition: all .2s linear;
        transform: translateX(120%);

        &.visible {
            transform: translateX(0);
            visibility: visible;
            pointer-events: all
        }
    }

    &__call {
        @extend .page__feedback;
    }
}

.main {
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    @media (min-width: $pretablet ) {
        row-gap: 32px;
    }
    @media (min-width: $desktop ) {
        row-gap: 50px;
    }
}